*{
    margin: 0;

}
section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calcbody{
    border: solid #f77f00 .2em;
    border-radius: .7em;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color: white;
    height: 70vh;
    width: 20vw;
}
.screen
{
    border-bottom: solid #fcbf49 .2em;
    height: 22%;
    display: flex;
    flex-direction: row;
}
.cbody{
    height: 78%;
    background-color: rgb(56, 52, 52);
}
.keyboard{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.keyboard li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    font-size: large;
    color: black;
    list-style: none;
    /* background-color: rgb(227, 109, 109); */
    width: 3em;
    height:3em;


}
.numbers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.row{
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: .35em;
}
.num{
    background-color: #f7ede2;
}
#equal{
    background-color: rgb(29, 185, 29);
}
#clear{
    background-color: rgb(237, 30, 30);
}
.calcbody li:hover{
    background-color: #f48c06;
}
#equal:hover ,#clear:hover{
    background-color: #f48c06;
    /* background-color: yellow; */
}